/*==========videofile========*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    list-style: none;
 }


.main-video{
    position: fixed;
    height: 75px;
    width: 100%;
    background: #171431;
}

.videoo-list{
    padding-top: 81px;
    background: #171431;
    padding-bottom: 9px;
}

.videoo-list ul li a{
    text-decoration: none;
}

.videoo-list ul li{
    height: auto;
    width: 94%;
    background: #1e1d4b;
    padding: 9px;
    margin: 11px 11px;
    border-radius: 7px;

}

.videoo-list ul li a img{
    width: 100%;
    height: 201px;
    border-radius: 11px;
 
}

.videoo-list ul li a h3{
    color: #edebef;
    font-size: 21px;
    padding-left: 15px;
    padding-top: 3px;
    
}

.videoo-list ul li a span{
    color: #8e8a93;    
    font-size: 15px;
    padding-left: 15px;
    padding-top: 3px;
}


.videoo-list ul li a p{
    color: #c5c1cb;
    font-size: 15px;
    padding-left: 55px;
    padding-top: 5px;
    
}

.videoo-list ul li a div{
    display: flex;
}


.main-video iframe{
    width: 100%;
    height: 215px;
    
}

.main-video h5{
    color: #c8c5c5;
    font-size: 13px;
    padding-left: 19px;
    padding-top: 5px;

}

.main-video h3{
    text-align: center;
     color: #ffffff;
     font-size: 21px;
     padding-top: 25px;
     padding-left: 19px;
     font-weight: 600;
}

.main-video h3 span{
    color: #aea8b4;
    font-size: 15px;
}
